<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</head>
<body>
<h1>Dropdowns</h1>

<h2>Basic Dropdown</h2>
<div class='ui dropdown'>
  <div class='text'>C</div>
  <i class='dropdown icon'></i> 
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Selection Dropdown</h2>
<div class='ui selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Search Selection</h2>
<div class='ui  search selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Multiple Selection Dropdown</h2>
<div class='ui multiple selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Multiple Search Selection</h2>
<div class='ui multiple search selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Search Dropdown</h2>
<div class='ui search dropdown'>
  <div class='text'>Choose a Language</div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Search-In Dropdown</h2>
<div class='ui dropdown'>
  <div class='text'>Choose a Language</div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='ui icon search input'>
      <i class='search icon'></i>
      <input type="text" placeholder='Search tags...'/>
    </div>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Inline Dropdown</h2>
<span>For this project, I am using 
<div class='ui inline dropdown'>
  <div class='text'>Choose a Language</div>
    <i class='dropdown icon'></i>
    <div class='menu'>
      <div class='item'>C</div>
      <div class='item'>C++</div>
      <div class='item'>C#</div>
      <div class='item'>Java</div>
      <div class='item'>JavaScript</div>
    </div>
  </div>
</span>

<h2>Pointing Dropdown</h2>
<div class='ui top left pointing dropdown'>
  <div class='text'>C</div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Floating Dropdown</h2>
<div class='ui floating dropdown'>
  <div class='text'>C</div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>


<h2>Simple Dropdown</h2>
<p>No need for javascript support in browser.</p>
<div class='ui simple dropdown'>
  <div class='text'>C</div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h1>Content</h1>
<h2>Header</h2>
<div class='ui selection dropdown'>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='header'>Languages</div>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Divider</h2>
<div class='ui selection dropdown'>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='header'>Languages</div>
    <div class='divider'></div>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Icon</h2>
<div class='ui selection dropdown'>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='header'>
      <i class='laptop icon'></i>
      Languages
    </div>
    <div class='divider'></div>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
  </div>
</div>

<h2>Description</h2>
<div class='ui selection dropdown'>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='header'>
      <i class='laptop icon'></i>
      Languages
    </div>
    <div class='divider'></div>
    <div class='item'>
      <span class='description'>20</span>
      <span class='text'>C</span>
    </div>
    <div class='item'>
      <span class='description'>42</span>
      <span class='text'>C++</span>
    </div>
    <div class='item'>
      <span class='description'>318</span>
      <span class='text'>C#</span>
    </div>
    <div class='item'>
      <span class='description'>320</span>
      <span class='text'>Java</span>
    </div>
        <div class='item'>
      <span class='description'>12030</span>
      <span class='text'>Javascript</span>
    </div>
  </div>
</div>

<h2>Lables</h2>
<div class='ui selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>
      <div class='ui red label'>Machine</div>
      C
    </div>
     <div class='item'>
      <div class='ui red label'>Machine</div>
      C++
    </div>
     <div class='item'>
      <div class='ui blue label'>IL</div>
      C#
    </div>
  </div>
</div>

<h2>Message</h2>
<p>Show error message on dropdown.</p>
<div class='ui floating labeled dropdown'>
  <div class='text'>Select a language</div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='ui error message'>
      <div class='header'>Uh oh!</div>
      <p>Could not fetch languages from our serevice!</p>
    </div>
  </div>
</div>

<h2>Floated</h2>
<div class='ui fluid selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>
      <i class='bomb right floated icon'></i>
      <div class='ui red label'>Machine</div>
      C
    </div>
     <div class='item'>
       <i class='puzzle right floated icon'></i>
      <div class='ui red label'>Machine</div>
      C++
    </div>
     <div class='item'>
       <i class='gift right floated icon'></i>
      <div class='ui blue label'>IL</div>
      C#
    </div>
  </div>
</div>

<h2>Image</h2>
<p>Similar to icon on an item</p>

<h1>States</h1>
<p>Loading, Error, Active, Disabled</p>

<h1>Variation</h1>
<h2>Scrolling</h2>
<p>Scroll controll appears when the list of item is long.</p>
<div class='ui selection dropdown'>
  <div class='text'></div>
  <i class='dropdown icon'></i>
  <div class='menu'>
    <div class='item'>C</div>
    <div class='item'>C++</div>
    <div class='item'>C#</div>
    <div class='item'>Java</div>
    <div class='item'>JavaScript</div>
    <div class='item'>Ruby</div>
    <div class='item'>Haskell</div>
    <div class='item'>Php</div>
    <div class='item'>Python</div>
    <div class='item'>Lisp</div>
  </div>
</div>

<h2>Direction</h2>
<div class='ui centered grid'>
  <div class='ui floating labeled dropdown'>
    <span class='text'>Platforms</span>
    <i class='dropdown icon'></i>
    <div class='menu'>
      <div class='item'>
        <i class='left dropdown icon'></i>
        <span class='text'>CLR</span>
        <div class='left menu'>
          <div class='item'>VB</div>
          <div class='item'>C#</div>
        </div>
      </div>
       <div class='item'>
        <i class='right dropdown icon'></i>
        <span class='text'>JVM</span>
        <div class='right menu'>
          <div class='item'>Java</div>
          <div class='item'>Scala</div>
        </div>
      </div>
    </div>
  </div>
</div>

<h1>Behaviors</h1>
<h2>Selection Config</h2>
<p>activate, combo, select, hide, function(text, value), nothing</p>

<p>setup menu, refresh, toggle, show, hide, clear, hide others, restore defaults, restore default text, restore default value, save defaults, set selected(value), set selected([value1, value2]), set exactly([value1, value2]), set text, set value, get text, get value, get item(value), bind touch events,bind mouse events, bind intent, unbind intent, determine intent, set active, set visible, remove active, is selection, is animated, is visible, is hidden, get default text, get placeholder text</p>

<h2>Common Settings</h2>
<p>on, allowAdditions, action, match, forceSelection, allowCategorySelection, placeholder</p>

<h2>Multi-Select Settings</h2>
<p>userLables, maxSelections, glyphWidth, label</p>

<h2>General Settings</h2>
<p>direction, keepOnScreen, context, fullTextSearch, preserveHtml, sortSelect, showOnFocus, allowTab, transition, duration, keys, delay.</p>

<h1>Callbacks</h1>
<p>onChange, onAdd, onRemove, onLableCreate, onLabelRemove, onLabelSelect, onNoResults, onShow, onHide</p>
<script>
document.getElementsByClassName('.dropdown').dropdown();

</script>
</body>
</html>