{% extends 'base.html' %}

{% block title %}{% endblock title %}


{% block body %}
  
  <main id="main">

  

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
    
      <div class="container">

        
        <h2>{{course.name}}</h2>

        <ol>
        {% ifequal course.status 'A'  %}
        
          {% ifequal eligible 'A' %} 
          <form action="" method ='POST'>
          {% csrf_token %}
            <li><button type='submit' ><h5>Register</h5></button></li>
          </form>
          


          {% endifequal %}

        {% ifequal eligible 'C' %}
        <h5>Creditted</h5>
        {% endifequal %}

        {% ifequal eligible 'R' %}
        <h5>Registered</h5>
        {% endifequal %}
        
        
        {% ifequal eligible 'N' %}
              <h5>Not Eligible</h5>
        {% endifequal %}
          
        {% else %}
        <h5>Not Available</h5>

        {% endifequal %}



        </ol>

      </div>
    </section><!-- End Breadcrumbs -->
    
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
          <h5>Description </h5>
          {{course.description}}
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dignissimos perspiciatis. Voluptates aliquid ex corporis perferendis quod necessitatibus possimus dolorem libero laborum minima numquam, facere veniam dignissimos nihil. Iure, atque?
        <br>
        <br>
        <h5>Prerequistes </h5>
        <div class="row">
          <div class="col-lg-6 pt-4 pt-lg-2 content">
            
            <ul>
              {% for clear in cleared %}
              
              <li><i class="icofont-check-circled"></i> {{clear}}</li>
              {% endfor %}
              
            </ul>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-2 content">
            
            <ul>
              {% for pre in prereq %}
              <li><i class="icofont-close-circled"></i> {{pre}}</li>
              {% endfor %}
            </ul>
            
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-brainstorming"></i>
              <span data-toggle="counter-up"> {{course.projects}}  </span>
              <p><strong>Projects - </strong> Implement Innovatve Ideas</p>


            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-paper"></i>
              <span data-toggle="counter-up">{{course.assignments}} </span>
              <p><strong>Assignments - </strong> Practice the concepts</p>

            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-instrument"></i>
              <span data-toggle="counter-up">{{course.practicals}} </span>
              <p><strong>Practicals - </strong> Implement your Learnings</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
            <div class="count-box">
              <i class="icofont-read-book"></i>
              <span data-toggle="counter-up">{{course.exams}} </span>
              <p><strong>Exams - </strong> Test the knowledge gained</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Clients Section ======= -->
    

    

  </main><!-- End #main -->

{% endblock body %}
  