{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block body %}


 

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="carousel-item active" style="background: url(assets/img/slide/slide-1.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Course Registration <span>  Redefined</span></h2>
                <p class="animate__animated animate__fadeInUp">A website that redefines course registration process and helps students to get the most out of their college degree</p>
                <a href="https://github.com/AcademicsProject/advanced_registration" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-2.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated fanimate__fadeInDown">Course<span> Tracks</span></h2>
                <p class="animate__animated animate__fadeInUp">Helps students to choose right courses by diplaying all the courses , university offers in a particular field </p>
                <a href="https://github.com/AcademicsProject/advanced_registration" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Complete <span>Transparency</span></h2>
                <p class="animate__animated animate__fadeInUp">Students can see all the details related to a particular course , examples - Assignments , Projects , Exams , Labs , Teachers etc </p>
                <a href="https://github.com/AcademicsProject/advanced_registration" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>
          <!-- Slide 4 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Recruiter <span>Filter</span></h2>
                <p class="animate__animated animate__fadeInUp">Recruiters can filter the most eligible candidates in the university by selecting all necessary courses required by the job position </p>
                <a href="https://github.com/AcademicsProject/advanced_registration" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>
       
        <!-- Slide 5 -->
          <div class="carousel-item" style="background: url(assets/img/slide/slide-3.jpg)">
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animate__animated animate__fadeInDown">Prerequisite <span> Completion </span></h2>
                <p class="animate__animated animate__fadeInUp"> Completetion of prerequisites of a course is necessary before registering for it </p>
                <a href="https://github.com/AcademicsProject/advanced_registration" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
              </div>
            </div>
          </div>
        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon icofont-rounded-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon icofont-rounded-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="icon-box">
              <i class="icofont-computer"></i>
              <h3><a href="">Removes Branch Barriers</a></h3>
              <p>Instead of shortlisting candidates by their stream/branch recruiters can shortlist them on the basis of the courses that they have done </p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-image"></i>
              <h3><a href="">Course Tranparency</a></h3>
              <p>Provides Complete Transparency to students about any course that university offers , for example number of assignments , projects , exams , labs ,etc</p>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="icofont-tasks-alt"></i>
              <h3><a href="">Career Path</a></h3>
              <p>Helps students choose their career path by showing them courses related to a field , so that they can choose their careers wisely at an early stage</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Featured Section -->

    

  </main><!-- End #main -->

  
{% endblock body %}